body
{
	font-family:"Consolas"; //Consolas is my favorite :)
}
img.smallImage
{
	height: auto;
	width: 25%;
}
img.rotatedSmallImage 
{
	height: auto;
	width: 25%;
    rotation-point:center;
    rotation:180deg;
}
.formattedText 
{
    white-space: pre-wrap;
}
.mePicture
{
    height:auto;
    width: 15%;
    float:right;
    margin:auto;
    overflow:hidden
}